
@{
    ViewBag.Title = "Settings";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
}
<div style="padding-top:52px">
    <div class="page-content" style="min-height:1112px">
        <div class="portlet-body form">
            <form class="form-horizontal" action="~//" method="post">
                <div class="portlet light bordered">
                    <img src="~/assets/x.jpeg" />
                </div>
            </form>
        </div>
    </div>
    </div>