<div class="page-content" style="min-height:1112px">
    <div class="portlet-body form">
        <!-- BEGIN FORM-->
        <form class="form-horizontal" action="~/Definition/SaveUser" method="post">
            @*<form action="#" class="form-horizontal">*@
            <div class="form-body">
                <h3 class="form-section">Müşteri Bilgileri</h3>
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label class="control-label col-md-3">Ünvan</label>
                            <div class="col-md-8">
                                <input type="text" class="form-control" placeholder="">
                                @*<span class="help-block"> This is inline help </span>*@
                            </div>
                        </div>
                    </div>
                    <!--/span-->
                    <div class="col-md-6">
                        <div class="form-group">
                            <label class="control-label col-md-3">Adı Soyadı</label>
                            <div class="col-md-8">
                                <input type="text" class="form-control" placeholder="">
                                @*<span class="help-block"> This field has error. </span>*@
                            </div>
                        </div>
                    </div>
                    <!--/span-->
                </div>
                <!--/row-->
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group has-error">
                            <label class="control-label col-md-3">Yetkili Adı Soyadı *</label>
                            <div class="col-md-8">
                                <input type="text" class="form-control" placeholder="">
                            </div>
                        </div>
                    </div>
                    <!--/span-->
                    <div class="col-md-6">
                        <div class="form-group has-error">
                            <label class="control-label col-md-3">Telefon *</label>
                            <div class="col-md-8">
                                <input type="text" class="form-control" placeholder="">
                            </div>
                        </div>
                    </div>
                    <!--/span-->
                </div>
                <!--/row-->
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label class="control-label col-md-3">Vergi Numarası</label>
                            <div class="col-md-8">
                                <input type="text" class="form-control" placeholder="">
                            </div>
                        </div>
                    </div>

                    <div class="col-md-6">
                        <div class="form-group">
                            <label class="control-label col-md-3">T.C Kimlik Numarası</label>
                            <div class="col-md-8">
                                <input type="text" class="form-control" placeholder="">
                            </div>
                        </div>
                    </div>
                    <!--/span-->
                    @*<div class="col-md-6">
                            <div class="form-group">
                                <label class="control-label col-md-3">Membership</label>
                                <div class="col-md-9">
                                    <div class="radio-list">
                                        <label class="radio-inline">
                                            <input type="radio" name="optionsRadios2" value="option1" /> Free
                                        </label>
                                        <label class="radio-inline">
                                            <input type="radio" name="optionsRadios2" value="option2" checked /> Professional
                                        </label>
                                    </div>
                                </div>
                            </div>
                        </div>*@
                    <!--/span-->
                </div>
                <h3 class="form-section">Adres Bilgileri</h3>
                <!--/row-->
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group has-error">
                            <label class="control-label col-md-3">Adres *</label>
                            <div class="col-md-8">
                                <input type="text" class="form-control">
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label class="control-label col-md-3">Adres 2</label>
                            <div class="col-md-8">
                                <input type="text" class="form-control">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label class="control-label col-md-3">Sanayi Bölgesi</label>
                            <div class="col-md-8">
                                <input type="text" class="form-control">
                            </div>
                        </div>
                    </div>
                    <!--/span-->
                    <div class="col-md-6">
                        <div class="form-group">
                            <label class="control-label col-md-3">No</label>
                            <div class="col-md-8">
                                <input type="text" class="form-control">
                            </div>
                        </div>
                    </div>
                    <!--/span-->
                </div>
                <!--/row-->
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label class="control-label col-md-3">il *</label>
                            <div class="col-md-8">
                                <select class="form-control">
                                    <option>İstanbul</option>
                                    <option>Bursa</option>
                                    <option>İzmir</option>
                                    <option>Ankara</option>
                                    <option>Çanakkale</option>
                                    <option>Balıkesir</option>
                                    <option>Kütahya</option>
                                    <option>Kocaeli</option>
                                </select>
                            </div>
                        </div>
                    </div>
                    <!--/span-->
                    <div class="col-md-6">
                        <div class="form-group">
                            <label class="control-label col-md-3">İlçe *</label>
                            <div class="col-md-8">
                                <select id="single" class="form-control select2">
                                    <optgroup label="Bursa">
                                        <option value="OS">Osmangazi</option>
                                        <option value="NI">Nilüfer</option>
                                        <option value="YI">Yıldırım</option>                                        
                                    </optgroup>
                                    <optgroup label="İstanbul">
                                        <option value="ÜS">Üsküdar</option>
                                        <option value="UM">Ümraniye</option>
                                        <option value="KA">Kadıköy</option>
                                        <option value="BE">Beşiktaş</option>
                                        <option value="MA">Maltepe</option>
                                        <option value="EM">Eminönü</option>                                     
                                    </optgroup>
                                    <optgroup label="Ankara">                                       
                                        <option value="WI">Wisconsin</option>
                                    </optgroup>
                                    <optgroup label="İzmir">
                                        <option value="CT">Connecticut</option>                                        
                                    </optgroup>
                                </select>
                            </div>
                        </div>
                    </div>
                    <!--/row-->
                </div>
                <div class="form-actions">
                    <div class="row">
                        <div class="col-md-6">
                            <div class="row">
                                <div class="col-md-offset-3 col-md-9">
                                    <button type="submit" class="btn green">Kaydet</button>
                                    @*<button type="button" class="btn default">İptal</button>*@
                                    <a class="btn default" href="/Home/Index"> Vazgeç </a>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6"> </div>
                    </div>
                </div>
        </form>
    </div>
</div>
